.connect-div {
    margin-left: 70px;
    margin-right: auto;
}
.connect-div__top-text {
    font-family: $main-font;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $main;
    margin-bottom: 20px;
}
.connect-list {
    display: flex;
}
.connect-list__item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    border-radius: 50%;
    text-align: center;
    background: rgba(255, 255, 255,0.1);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover, &:focus {
            background-color: $link;
        }
}
.connect-list__icon {
    width: 44px;
    height: 44px;
    padding: 12px;
    fill: $main;
}