body {
    font-family: $main-font;
    background-color: $main;
    letter-spacing: 0.03em;
    font-size: 14px;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    @media screen and (min-width:320px) and (max-width:479px) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
        overflow: hidden;
    }
    @media screen and (min-width:480px) {
        width: 450px;
    }
    @media screen and (min-width:768px) {
        width: 738px;
    }

    @media screen and (min-width:1200px) {
        width: 1200px;
    }
    
}
.section{
    @media screen and (max-width:1200px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}