.header-contacts {
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
        padding-top: 21px;
        padding-bottom: 21px;
        margin-left: auto;
    }
    
    @media screen and (min-width: 1200px) {
        display: flex;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.header-contacts__item {
    &:not(:last-child) {
        margin-bottom: 10px;
    }
        @media screen and (min-width: 1200px) {
            &:not(:last-child) {
                margin-right: 30px;
                margin-bottom: 0;
            }
            
        }
}

.header-contacts__link {
    display: flex;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: $second-text-color;

    &:hover, &:focus {
        color: $link;
    }
    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.14;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.header-contacts__icon {
    margin-right: 10px;
    fill: currentColor;

    @media screen and (min-width: 768px) {
        display: block;

        &--mail {
            width: 16px;
            height: 12px;
        }

        &--phone {
            width: 10px;
            height: 16px;
        }
    }
}