.header_nav {
    display: none;
    @media screen and (min-width: 768px) {
        display: inline-flex;
    }

    @media screen and (min-width: 1200px) {}
}

.site-navigation {
    display: flex;
}

.site-navigation__item {
    &:not(:last-child) {
        margin-right: 50px;
    }
}

.site-navigation__link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $main-text-color;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &--active {
        color: $link;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            background-color: $link;
            border-radius: 2px;
            height: 4px;
            width: 100%;

            @media screen and (min-width: 768px) {
                bottom: -8px;
            }
            
            @media screen and (min-width: 1200px) {
                bottom: -4px;
            }
        }
    }
    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.14;
    }
    &:hover, &:focus {
        color: $link;
    }
}