.header {
    align-items: center;
    border-bottom: 1px solid $border-one;
}

.header__container {
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
        justify-content: left;
        align-items: center;
    }

    @media screen and (min-width: 1200px) {
        
    }
}