$main: #fff;

$link: #2196F3;
$logo: #2196F3;
$btn-main-color: #2196F3;
$btn-link-color: #188CE8;

$dark: #000000;

$main-text-color: #212121;
$second-text-color: #757575;

$back: #2F303A;
$second-back: #F5F4FA;

$border-one: #ECECEC;
$border-two: #EEEEEE;
$border-three: #AFB1B8;
$border-four: #212121;

$iconcolor: #AFB1B8;
$footericon: #2F303A;

$main-font: 'Roboto', sans-serif;
$second-font: 'Raleway', sans-serif;