.team__contact-list {
    display: flex;
    justify-content: center;
}

.team__contact-item {
}

.team__contact-link {
    display: block;
    width: 44px;
    height: 44px;
    
    padding: 12px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
        border-radius: 50%;
    }


    &:hover,
    &:focus {
        background-color: $main;
        border: 1px solid $dark;

        @media screen and (min-width: 768px) {
            background-color: $link;
            border: none;
        }
    }
}

.team__contact-icon {
    width: 20px;
    height: 20px;
    fill: $iconcolor;
}
.team__contact-link:hover .team__contact-icon, 
.team__contact-link:focus .team__contact-icon {
    @media screen and (min-width: 768px) {
        fill: $main;
    }
}